<h1 class="title">Roll Dimensions</h1>
<form [formGroup]="calcForm" (ngSubmit)="onSubmit(calcForm)">
  <ngb-accordion #accordion="ngbAccordion">
    <ngb-panel
      id="toggle-1"
      title="Spool: {{
        spoolDiameter?.value
      }} &nbsp;&nbsp; | &nbsp;&nbsp; Density: {{ densityInput?.value }}"
    >
      <ng-template ngbPanelContent>
        <app-density
          [parentForm]="calcForm"
          [densityOptions]="densityOptions"
          [densityRange]="densityRange"
        ></app-density>
        <div class="underlined"></div>
        <div class="pb-20 pt-20">
          <label for="spoolDiameter">Spool Diameter</label>
          <input
            id="spoolDiameter"
            formControlName="spoolDiameter"
            class="form-control"
            type="number"
            step=".01"
          /><span>cm</span>
        </div>
        <div
          *ngIf="spoolDiameter?.errors?.['min'] || spoolDiameter?.errors?.['max']"
          class="alert"
        >
          Spool diameter must be between the range of {{ defaultRange.min }} and
          {{ defaultRange.max }}.
        </div>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <div class="content">
    <div class="weight pb-20 pt-20">
      <label for="weight">Width</label>
      <button (click)="rollRClicked($event)" class="mytooltip">
        <span>
          <svg
            class="info-icon"
            xml:space="preserve"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <use xlink:href="../../assets/svg/icons.svg#info"></use>
          </svg>
        </span>
        <span class="tooltip-message">
          <svg
            class="message-icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            viewBox="0 0 1024 1024"
            style="enable-background: new 0 0 1024 1024"
            xml:space="preserve"
          >
            <use
              xlink:href="../../assets/svg/icons.svg#roll-width-message"
            ></use>
          </svg>
        </span>
      </button>
      <input
        id="weight"
        formControlName="weight"
        class="form-control"
        type="number"
      /><span>cm</span>
    </div>
    <div
      *ngIf="weight?.errors?.['min'] || weight?.errors?.['max']"
      class="alert"
    >
      Roll width must be between the range of {{ defaultRange.min }} and
      {{ defaultRange.max }}.
    </div>
    <div *ngIf="weight?.errors?.['pattern']" class="alert">
      Only numbers are allowed.
    </div>
    <div class="underlined"></div>
    <div class="rollR pb-20 pt-20" id="rollRField">
      <label for="rollR">Radius</label>
      <button (click)="rollRClicked($event)" class="mytooltip">
        <span>
          <svg
            class="info-icon"
            xml:space="preserve"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
          >
            <use xlink:href="../../assets/svg/icons.svg#info"></use>
          </svg>
        </span>
        <span class="tooltip-message">
          <svg
            class="message-icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            version="1.1"
            id="Layer_1"
            x="0px"
            y="0px"
            viewBox="0 0 1024 1024"
            style="enable-background: new 0 0 1024 1024"
            xml:space="preserve"
          >
            <use
              xlink:href="../../assets/svg/icons.svg#roll-radius-message"
            ></use>
          </svg>
        </span>
      </button>
      <input
        id="rollR"
        formControlName="rollR"
        class="form-control"
        type="number"
      />
      <span>cm</span>
    </div>
    <div *ngIf="rollR?.errors?.['min'] || rollR?.errors?.['max']" class="alert">
      Distance from spool must be between the range of
      {{ defaultRange.min }} and {{ defaultRange.max }}.
    </div>
    <div class="underlined"></div>
    <div class="pb-20 pt-20">
      <label>Result</label>
      <input formControlName="result" class="form-control" type="number" />
      <span>kg</span>
    </div>
  </div>
</form>
