<form class="bag-weight-form" [formGroup]="calcForm">
  <ngb-accordion #accordion="ngbAccordion">
    <ngb-panel id="toggle-1" title="{{'Density' | translate}}: {{ densityInput?.value?.toLocaleString()}}">
      <ng-template ngbPanelContent>
        <app-density
          [parentForm]="calcForm"
          [densityOptions]="densityOptions"
          [densityRange]="densityRange"
        ></app-density>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
  <h1 class="title">{{'Bag Dimensions' | translate}}</h1>
  <div class="content">
    <!-- Bag Width -->
    <div
      class="content-item"
      [class.pb-0]="width?.errors?.['min'] || width?.errors?.['max']"
    >
      <label for="width">{{'Width' | translate}}</label>
      <div>
        <input
          id="width"
          formControlName="width"
          class="form-control"
          type="number"
        />
        <span class="unit">cm</span>
      </div>
    </div>
    <div *ngIf="width?.errors?.['min'] || width?.errors?.['max']" class="alert">
      {{'The Bag width' | translate}} {{'must be in the range of' | translate}} {{ defaultRange.min }} {{'to' | translate}}
      {{ defaultRange.max }}.
    </div>
    <div *ngIf="width?.errors?.['pattern']" class="alert">
      {{'Only numbers are allowed.' | translate}}
    </div>
    <div class="underlined"></div>
    <!-- Bag Length -->
    <div
      class="length content-item"
      [class.pb-0]="length?.errors?.['min'] || length?.errors?.['max']"
    >
      <label for="length">{{'Length' | translate}}</label>
      <!-- TODO: add button -->
      <div>
        <input
          id="length"
          formControlName="length"
          class="form-control"
          type="number"
        />
        <span class="unit">cm</span>
      </div>
    </div>
    <div
      *ngIf="length?.errors?.['min'] || length?.errors?.['max']"
      class="alert"
    >
      {{'Bag Length' | translate}} {{'must be in the range of' | translate}}
      {{ defaultRange.min }} {{'to' | translate}} {{ defaultRange.max }}.
    </div>
    <div class="underlined"></div>
    <!-- Thickness  -->
    <div
      class="thickness content-item"
      [class.pb-0]="thickness?.errors?.['min'] || thickness?.errors?.['max']"
    >
      <label for="thickness">{{'Thickness' | translate}}</label>
      <!-- TODO: add button -->
      <div>
        <input
          id="thickness"
          formControlName="thickness"
          class="form-control"
          type="number"
        />
        <span class="unit">μm</span>
      </div>
    </div>
    <div
      *ngIf="thickness?.errors?.['min'] || thickness?.errors?.['max']"
      class="alert"
    >
       {{'Thickness must be in the range of' | translate}}
      {{ thicknessRange.min }} {{'to' | translate}} {{ thicknessRange.max }} μm.
    </div>
    <div class="underlined"></div>
    <!-- Quantity -->
    <div
      class="quantity content-item"
      [class.pb-0]="quantity?.errors?.['min'] || quantity?.errors?.['max']"
    >
      <label for="quantity">{{'Quantity' | translate}}</label>
      <!-- TODO: add button -->
      <div>
        <input
          id="quantity"
          formControlName="quantity"
          class="form-control"
          type="number"
        />
        <span class="unit" #quantityUnit>{{'pcs' | translate}}.</span>
      </div>
    </div>
    <div
      *ngIf="quantity?.errors?.['min'] || quantity?.errors?.['max']"
      class="alert"
    >
      {{'Quantity must be in the range of' | translate}}
      {{ quantityRange.min }} {{'to' | translate}} {{ quantityRange.max }}.
    </div>
    <div class="underlined"></div>
    <!-- Weight -->
    <div class="content-result">
      <label>{{'Weight'| translate}}</label>
      <div>
        <input formControlName="weight" class="form-control" [style.width.px]='weightWidth' type="text" />
        <span class="unit" #weightUnit></span>
      </div>
    </div>
    <span #hiddenEl id='hiddenEl' style="visibility: hidden;position: absolute;font-size: 1.2rem;">test</span>
  </div>
</form>
