<div
  class="img-container"
  [ngStyle]="{ width: imgWidth + 'px', height: imgHeight + 'px' }"
>
  <div
    class="img-loading"
    [ngStyle]="{ width: imgWidth + 'px', height: imgHeight + 'px' }"
  >
    Picture Loading...
  </div>
  <div class="img-content"></div>
</div>
<svg class="worker" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2098 5725">
  <title>Worker</title>
  <use xlink:href="../../assets/svg/icons.svg#worker"></use>
</svg>
<div class="card-container">
  <hr />
  <a class="card" rel="noopener" routerLink="/roll-weight">
    <img
      class="weighing-platform"
      src="/assets/img/weighing-platform-with-ldpe-rolls.webp"
      alt="weighing platform with ldpe rolls"
    />
    <div class="description">
      Calculate the weight of the roll depending on the plastic used.
    </div>
  </a>
  <a class="card" rel="noopener" routerLink="/bag-weight">
    <img
      src="/assets/img/weighing-platform-with-fish-in-a-bag.webp"
      alt="weighing platform with fish in a bag"
    />
    <div class="description">Calculate the weight of the bag.</div>
  </a>
</div>
