<div [formGroup]="parentForm" class="density">
  <div class="child">
    <label class="density-select-label" for="densitySelect"
      >Select Density</label
    >
    <select id="densitySelect" formControlName="densitySelect">
      <option *ngFor="let item of densityOptions" [ngValue]="item">
        {{ item.key }}
      </option>
    </select>
  </div>
  <div class="hr-line">or</div>
  <div class="child">
    <label class="density-input-label" for="densityInput">Set Density</label>
    <div class="flex">
      <input
        id="densityInput"
        (keyup)="densityInputChange(densityInput!.value)"
        (change)="densityInputChange(densityInput!.value)"
        formControlName="densityInput"
        class="form-control"
        type="number"
        step=".01"
      /><span class="density-unit">g/cm3</span>
    </div>
  </div>
</div>
<div
  *ngIf="densityInput?.errors?.['min'] || densityInput?.errors?.['max']"
  class="alert"
>
  Density must be between the range of {{ densityRange.min }} and
  {{ densityRange.max }}.
</div>
