<div [formGroup]="parentForm" class="density">
  <div class="child">
    <label class="density-select-label" for="densitySelect"
      >{{'Select Density' | translate}}</label
    >
    <select id="densitySelect" formControlName="densitySelect">
      <option *ngFor="let item of densityOptions" [ngValue]="item">
        {{ item.key | translate }}
      </option>
    </select>
  </div>
  <div class="hr-line">{{'or' | translate}}</div>
  <div class="child">
    <label class="density-input-label" for="densityInput">{{'Set Density' | translate}}</label>
    <div class="flex">
      <input
        id="densityInput"
        (keyup)="densityInputChange(densityInput!.value)"
        (change)="densityInputChange(densityInput!.value)"
        [ngClass]="{'red-shadow': densityInput?.errors?.['required'] || densityInput?.errors?.['min'] || densityInput?.errors?.['max']}"
        placeholder="*"
        formControlName="densityInput"
        class="form-control"
        type="number"
        step=".01"
      /><span class="density-unit">{{'g/cm3' | translate}}</span>
    </div>
  </div>
</div>
<div *ngIf="densityInput?.errors?.['required']" class="alert">
  {{'The field is required!' | translate}}
</div>
<div
  *ngIf="densityInput?.errors?.['min'] || densityInput?.errors?.['max']"
  class="alert"
>
  {{'Density must be in the range of' | translate}} {{ densityRange.min.toLocaleString() }} {{'to' | translate}}
  {{ densityRange.max.toLocaleString() }}
</div>
